<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/Theme/css/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/slick-master/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-master/slick/slick-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/Theme/css/theme.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    <script src="~/Content/slick-master/slick/slick.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>

    
    <section>
        
        <div class="carousel slide home-page__banner" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="image">
                    <a href="https://travel.com.vn/tin-tuc-du-lich/chuong-trinh-khuyen-mai-chao-he-2022--%E2%80%9Ckhuyen-mai-mua-vang--he-ngan-trai-nghiem%E2%80%9D-voi-tong-gia-tri-uu-dai-len-den-10-ty-dong-v13749.aspx">
                        <img src="https://media.travel.com.vn/SlideShow/sl_220518_khuyen-mai-du-lich-he-vietravel.jpg" alt="CTKM Hè 2022" class="d-block w-100" onerror="this.src = 'https://picsum.photos/1536/456'">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <section class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 block two-line">
                        <h4>Du lịch trong nước</h4>
                        <ul class="menu">
                            <li class="menu-item"><a href="#"> Hà Nội</a></li>
                            <li class="menu-item"><a href="#"> Hải Phòng</a></li>
                            <li class="menu-item"><a href="#"> Hạ Long</a></li>
                            <li class="menu-item"><a href="#"> Huế</a></li>
                            <li class="menu-item"><a href="#"> Quảng Bình</a></li>
                            <li class="menu-item"><a href="#"> Đà Nẵng</a></li>
                            <li class="menu-item"><a href="#"> Quảng Nam</a></li>
                        </ul>
                        <ul class="menu">
                            <li class="menu-item"><a href="#"> Đà lạt</a></li>
                            <li class="menu-item"><a href="#"> Phan Thiết</a></li>
                            <li class="menu-item"><a href="#"> Bà Rịa-Vũng Tàu</a></li>
                            <li class="menu-item"><a href="#"> Phú Quốc</a></li>
                            <li class="menu-item"><a href="#"> Cần Thơ</a></li>
                            <li class="menu-item"><a href="#"> Hà Tiên</a></li>
                            <li class="menu-item"><a href="#"> Bắc Kạn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 block two-line">
                        <h4>Du lịch nước ngoài</h4>
                        <ul class="menu">
                            <li class="menu-item"><a href="#"> Hà Nội</a></li>
                            <li class="menu-item"><a href="#"> Hải Phòng</a></li>
                            <li class="menu-item"><a href="#"> Hạ Long</a></li>
                            <li class="menu-item"><a href="#"> Huế</a></li>
                            <li class="menu-item"><a href="#"> Quảng Bình</a></li>
                            <li class="menu-item"><a href="#"> Đà Nẵng</a></li>
                            <li class="menu-item"><a href="#"> Quảng Nam</a></li>
                        </ul>
                        <ul class="menu">
                            <li class="menu-item"><a href="#"> Đà lạt</a></li>
                            <li class="menu-item"><a href="#"> Phan Thiết</a></li>
                            <li class="menu-item"><a href="#"> Bà Rịa-Vũng Tàu</a></li>
                            <li class="menu-item"><a href="#"> Phú Quốc</a></li>
                            <li class="menu-item"><a href="#"> Cần Thơ</a></li>
                            <li class="menu-item"><a href="#"> Hà Tiên</a></li>
                            <li class="menu-item"><a href="#"> Bắc Kạn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 block">
                        <h4> Dòng Tour</h4>
                        <ul class="menu">
                            <li class="menu-item"><a href="#"> Cao cấp</a></li>
                            <li class="menu-item"><a href="#"> Tiêu chuẩn</a></li>
                            <li class="menu-item"><a href="#"> Tiết kiệm</a></li>
                            <li class="menu-item"><a href="#"> Giá tốt</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 block">
                        <h4> Ứng dụng di động</h4>
                        <div class="ft-app">
                            <img src="/Content/Theme/images/ggp.png" alt="image">
                            <img src="/Content/Theme/images/aps.png" alt="image">
                        </div>
                        <div class="mb-app">
                            <div class="android">
                                <p>Android</p>
                                <img src="/Content/Theme/images/image43.png" alt="image">
                            </div>
                            <div class="ios">
                                <p>iOS</p>
                                <img src="/Content/Theme/images/image43.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6 block contact-block">
                        <h4>Liên hệ</h4>
                        <div class="contact-info">
                            190 Pasteur, Phường Võ Thị Sáu, Quận 3, TP<br>
                            HCM<br>
                            (+84 28) 3822 8898<br>
                            (+84 28) 3829 9142<br>
                            info@vietravel.com
                        </div>
                        <h4>Mạng xã hội</h4>
                        <ul class="socials">
                            <li class="social">
                                <a href="https://www.facebook.com/vietravel/" target="_blank" rel="nofollow noreferrer"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="social">
                                <a href="https://www.instagram.com/vietravel/" target="_blank" rel="nofollow noreferrer"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="social">
                                <a href="https://invite.viber.com/?g2=AQB8wC0DUgDueEuLGo5BAeemjjx4ry%2Fe5vhdAApryxsvJron7Hxr0xmLNk%2FISS2j&amp;lang=vi" target="_blank" rel="nofollow noreferrer"><i class="fab fa-viber"></i></a>
                            </li>
                            <li class="social">
                                <a href="https://zalo.me/vietravel/" target="_blank" rel="nofollow noreferrer"><i class="icon icon--zalo"></i></a>
                            </li>
                            <li class="social">
                                <a href="https://www.youtube.com/channel/UCY4diIi4ZvrcZIfpLTTM11g?sub_confirmation=1" target="_blank" rel="nofollow noreferrer"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                        <div class="call-action">
                            <a href="tel:1900 1839"><i class="icon icon--phone"></i>1900 1839</a>
                        </div>
                        <p>Từ 8:00 - 22:00 hàng ngày</p>
                    </div>
                    <div class="col-md-3 col-6 block">
                        <h4>Thông tin</h4>
                        <ul class="menu">
                            <li class="menu-item"><a href="#" target="_blank" rel="nofollow noreferrer">Tạp chí du lịch</a></li>
                            <li class="menu-item"><a href="#">Cẩm nang du lịch</a></li>
                            <li class="menu-item"><a href="#">Tin tức</a></li>
                            <li class="menu-item"><a href="#">Sitemap</a></li>
                            <li class="menu-item"><a href="#">FAQs</a></li>
                            <li class="menu-item"><a href="#">Chính sách riêng tư</a></li>
                            <li class="menu-item"><a href="#">Thỏa thuận sử dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12 block">
                        <h4>Newsletter</h4>
                        <div class="newsletter form">
                            <form action="/SubControl/_RegisterNewLetter" method="post">
                                <input name="__RequestVerificationToken" type="hidden" value="z3BOSHDLxlZ2QtMBUc29zsGuGhNIDy7RaJBdu2Ym_u6beQs-fouKf88pBPeXxx_UOgUlh5UvOjoRQv-Z2cw_A2ju7c-fTV9Be9BquQsTpHs1"> <input type="text" name="EmailRegister" placeholder="Email của Quý khách" id="EmailRegisterFooter" required="required">
                                <input type="submit" name="submit" class="sm" value="">
                                <i class="fa-solid fa-envelope"></i>
                            </form>
                        </div>
                        <h4>Tìm kiếm thông tin</h4>
                        <div class="search form">
                            <form action="/Tour/SearchToursByDestinationChild" method="post">
                                <input name="__RequestVerificationToken" type="hidden" value="IKOA6n4cejIre1QDstWrNQteqG1DhaOrAlxNyJCThQCSSaiecK8Git35lvKCHNEaMS2xkNnyi9bUp-CFAeNAOBSU4ffQrPv2u40tJcmk0AQ1"> <input type="text" name="search" placeholder="Tour du lịch, điểm đến...">
                                <input type="submit" name="submit" class="sm" value="">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        <div class="securi-payment">
                            <div class="securi">
                                <h4>Chứng nhận</h4>
                                <a href="//www.dmca.com/Protection/Status.aspx?ID=9e50a0bf-95f9-4d51-9a58-0c1e0eddc3c7" rel="nofollow noreferrer" target="_blank">
                                    <img src="/Content/Theme/images/image39.png" alt="image">
                                </a>
                                <a href="http://online.gov.vn/Home/WebDetails/646?AspxAutoDetectCookieSupport=1" rel="nofollow noreferrer" target="_blank">
                                    <img src="/Content/Theme/images/image40.png" alt="image">
                                </a>
                            </div>
                            <div class="payment">
                                <h4>Chấp nhận thanh toán</h4>
                                <img src="/Content/Theme/images/image41.png" alt="image">
                                <img src="/Content/Theme/images/vnpay_qr1.png" alt="image">
                                <img src="/Content/Theme/images/vs.png" alt="image">
                                <img src="/Content/Theme/images/mtc.png" alt="image">
                                <img src="/Content/Theme/images/jcb.png" alt="image">
                                <img src="/Content/Theme/images/vrvs.png" alt="image">
                                <img src="/Content/Theme/images/shopeepay.png" alt="ShopeePay">
                                <img src="/Content/Theme/images/msb.png" alt="MSB">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="copy-right">
                            <p>
                                Bản quyền của Vietravel ® 2016. Bảo lưu mọi quyền.<br>
                                Ghi rõ nguồn "<a href="https://travel.com.vn">www.travel.com.vn</a>" ® khi sử dụng lại thông tin từ website này.<br>
                                Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2014/TCDL-GP LHQT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>


</body>
</html>
