@font-face {
    font-family: fontsvtv;
    src: url(../fonts/fontsVTV.eot?kyidym);
    src: url(../fonts/fontsVTV.eot?kyidym#iefix) format('embedded-opentype'),url(../fonts/fontsVTV.ttf?kyidym) format('truetype'),url(../fonts/fontsVTV.woff?kyidym) format('woff'),url(../fonts/fontsVTV.svg?kyidym#fontsVTV) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class^=icon-], [class*=" icon-"] {
    font-family: fontsvtv !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.may-white .icon-MayTour {
    height: 24px;
    font-size: 24px
}

    .may-white .icon-MayTour .path1:before, .may-white .icon-MayTour .path2:before, .may-white .icon-MayTour .path3:before, .may-white .icon-MayTour .path4:before, .may-white .icon-MayTour .path5:before, .may-white .icon-MayTour .path6:before, .may-white .icon-MayTour .path7:before, .may-white .icon-MayTour .path8:before, .may-white .icon-MayTour .path9:before, .may-white .icon-MayTour .path10:before, .may-white .icon-MayTour .path11:before {
        color: #fff
    }

.nav-link:hover.may-white .icon-MayTour .path1:before, .nav-link:hover.may-white .icon-MayTour .path2:before, .nav-link:hover.may-white .icon-MayTour .path3:before, .nav-link:hover.may-white .icon-MayTour .path4:before, .nav-link:hover.may-white .icon-MayTour .path5:before, .nav-link:hover.may-white .icon-MayTour .path6:before, .nav-link:hover.may-white .icon-MayTour .path7:before, .nav-link:hover.may-white .icon-MayTour .path8:before, .nav-link:hover.may-white .icon-MayTour .path9:before, .nav-link:hover.may-white .icon-MayTour .path10:before, .nav-link:hover.may-white .icon-MayTour .path11:before, .may-white.active .icon-MayTour .path1:before, .may-white.active .icon-MayTour .path2:before, .may-white.active .icon-MayTour .path3:before, .may-white.active .icon-MayTour .path4:before, .may-white.active .icon-MayTour .path5:before, .may-white.active .icon-MayTour .path6:before, .may-white.active .icon-MayTour .path7:before, .may-white.active .icon-MayTour .path8:before, .may-white.active .icon-MayTour .path9:before, .may-white.active .icon-MayTour .path10:before, .may-white.active .icon-MayTour .path11:before {
    color: #4d4aef
}

.icon-MayTour .path1:before {
    content: "\e909";
    color: #000
}

.icon-MayTour .path2:before {
    content: "\e90a";
    margin-left: -1.515625em;
    color: #000
}

.icon-MayTour .path3:before {
    content: "\e90b";
    margin-left: -1.515625em;
    color: #000
}

.icon-MayTour .path4:before {
    content: "\e90c";
    margin-left: -1.515625em;
    color: #000
}

.icon-MayTour .path5:before {
    content: "\e90d";
    margin-left: -1.515625em;
    color: #000
}

.icon-MayTour .path6:before {
    content: "\e90e";
    margin-left: -1.515625em;
    color: #000
}

.icon-MayTour .path7:before {
    content: "\e90f";
    margin-left: -1.515625em;
    color: #231f20
}

.icon-MayTour .path8:before {
    content: "\e910";
    margin-left: -1.515625em;
    color: #231f20
}

.icon-MayTour .path9:before {
    content: "\e911";
    margin-left: -1.515625em;
    color: #231f20
}

.icon-MayTour .path10:before {
    content: "\e912";
    margin-left: -1.515625em;
    color: #231f20
}

.icon-MayTour .path11:before {
    content: "\e913";
    margin-left: -1.515625em;
    color: #231f20
}

.icon-MSB .path1:before {
    content: "\e902";
    color: #000
}

.icon-MSB .path2:before {
    content: "\e903";
    margin-left: -3.9990234375em;
    color: #000
}

.icon-MSB .path3:before {
    content: "\e904";
    margin-left: -3.9990234375em;
    color: #000
}

.icon-MSB .path4:before {
    content: "\e905";
    margin-left: -3.9990234375em;
    color: #000
}

.icon-MSB .path5:before {
    content: "\e906";
    margin-left: -3.9990234375em;
    color: #000003
}

.icon-MSB .path6:before {
    content: "\e907";
    margin-left: -3.9990234375em;
    color: #000003
}

.icon-MSB .path7:before {
    content: "\e908";
    margin-left: -3.9990234375em;
    color: #000003
}

.icon-ShopeePay .path1:before {
    content: "\e900";
    color: #ee4e2c
}

.icon-ShopeePay .path2:before {
    content: "\e901";
    margin-left: -.951171875em;
    color: #fefefe
}
