.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,.8) url(/Content/Theme/images/loading.gif) center no-repeat
}

body {
}

    body.loading {
        overflow: hidden
    }

        body.loading .overlay {
            display: block
        }
