@charset "utf-8";
@import url('fonts.css');

body {
}

h1 {
    font-size: 22px;
    line-height: 50px
}

h2, h3 {
    font-size: 20px;
    line-height: 40px
}

footer {
    font-size: 13px
}

    footer .copy-right {
        padding: 1rem 0
    }

.font-weight-bold {
    font-weight: 700
}

.nav-tabs .nav-link {
    font-weight: 700
}

.searchbox .input-search-location {
    border: 5px solid #ffc709
}

.news-detail__body {
    font-size: 11pt;
    line-height: 1.6
}

.icon--zalo {
    font-size: 23px
}

.promotion-text {
    color: #4d4aef !important
}

#divPayment .btn {
    color: #fff !important
}

.flight-hotel-detail .section-01 .left .short-rating .s-wishlist i {
    color: #fd5056
}

.b24-widget-button-wrapper.b24-widget-button-position-bottom-right {
    bottom: 122px !important;
    right: 22px !important
}

.fb_dialog_advanced, .b24-widget-button-wrapper.b24-widget-button-position-bottom-right {
    z-index: 9
}

.account .rounded-circle {
    width: 45px !important;
    height: 45px !important
}

.testimonial-item .rounded-circle {
    width: 85px !important;
    height: 85px !important
}

.searchbox__panel {
    border-radius: 0 0 10px 10px
}

.tour-item__title {
    min-height: 60px;
    max-height: 60px
}

#myModalDateItem .modal-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2d4271
}

.tour-combo-item .f-day {
    font-size: 24px
}

.combo-slide .open-calendar-link {
    display: none
}

.product-item__summary__price {
    width: 100%
}

.product-item__summary .price-min {
    font-weight: 700;
    color: #2d4271
}

.group-add-cart .NgayKhac {
    color: #fd5056;
    font-weight: 700
}

.flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .image-content {
    display: block !important
}

.flight-hotel-search .sidebar .choose-customer .change .change-title h4, .tour-search .sidebar .choose-customer .change .change-title h4 {
    font-size: 16px
}

.flight-hotel-search .sidebar .choose-customer .change .change-title p, .tour-search .sidebar .choose-customer .change .change-title p {
    font-size: 12px
}

.flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .offer {
    justify-content: start
}

.section-03 .around-location {
    text-align: justify
}

.flight-hotel-search .sidebar .convenient .form-check input {
    min-width: 15px
}

.tieude {
    color: #fd5056
}

.booking-table thead {
    background-color: #ebebeb
}

.searchbox-tour .submit-btn {
    background: linear-gradient( 64.4deg,#244c7a 21.33%,#002f65 67.61%);
    width: 100%;
    color: #ffc709 !important
}

.searchbox__mobile .full, .searchbox__mobile .block .block-item {
    border: 1px solid #ffc709
}

.booking-search div input {
    border-bottom: 1px solid #ffc709
}

.news-detail__body__summary {
    text-align: justify
}

.news__travel-tips__item__image-wrapper {
    padding-top: 71%
}

.news__new-thread__big__image-wrapper {
    padding-top: 65%
}

.news__new-thread__small__image-wrapper {
    padding-top: 68%
}

news__new-thread__big .card-body {
    padding: 1rem 0
}

#nav-hoihuong-tab, #model-comeback, #nav-hotel-tab, #nav-maytour-tab, #model-maytour {
    position: relative
}

#nav-hotel-tab {
    padding: 1rem 4rem !important
}

    #nav-hoihuong-tab small, #model-comeback small, #nav-hotel-tab small {
        position: absolute;
        right: 15px;
        top: 15px
    }

#nav-maytour-tab small, #model-maytour small {
    position: absolute;
    right: 15px;
    top: 15px
}

.fixiPad {
    display: none
}

.tour-detail .section-07 .right .excerpt {
    max-width: 100%
}

.tour-detail .section-02 img {
    object-fit: fill
}

.fixiPadActive {
    display: block !important
}

.news__list__item .card-text:last-child {
    text-align: justify
}

.ui-datepicker .ui-icon {
    width: 16px !important;
    height: 16px !important
}

.input-date-fix {
    border: none;
    font-size: 13px;
    font-weight: 900 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    cursor: pointer;
    width: 100% !important;
    color: #2d4271
}

.text-justify {
    text-align: justify
}

.breadcrumbs__wrapper li:last-child {
    max-width: 760px
}

.nContent {
    clear: both
}

.socialBox {
    display: flex;
    margin-top: 20px
}

.bnXV img {
    max-width: 100%;
    height: auto
}

.tour-detail .section-03 .left .s-title-03 {
    text-align: justify
}

.tour-detail .section-08 .right h2, .tour-detail .section-08 .right .h2 {
    margin-bottom: 25px
}

.tour-detail .section-09 .faqs article .panel {
    padding-top: 0;
    margin-top: -5px
}

.tour-detail .section-08 .left .tour .more-info {
    padding-bottom: 15px
}

.tour-detail .section-08 .left .tour {
    padding: 35px 15px
}

.tour-detail .tour-des {
    max-height: 100px;
    overflow: auto;
    padding-right: 15px
}

.fix-leftalign {
    justify-content: start
}

.nContent img, .news-detail__body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto
}

.nItem {
    clear: both;
    margin-bottom: 40px
}

    .nItem img {
        width: 100%
    }

.news-detail__body table {
    border: 0;
    width: 100% !important;
    margin: 10px auto
}

.Filter, .dropDownListBorder {
    border: none
}

.home-page__promotion .promotion-slide {
    margin-bottom: 0 !important
}

.hotel-search-result-line {
    border-bottom: 1px dotted #ffc709
}

    .hotel-search-result-line p {
        margin-bottom: 0 !important
    }

.hotel-search-name {
    font-weight: 700
}

.hotel-detail .room-info {
    margin-right: 20px
}

.hotel-detail .more {
    background: linear-gradient(to bottom,rgba(0,0,0,.01),#efefef);
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 0
}

.hotel-service .hotel-condition {
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 22px 30px
}

.home-page__destination .destination-item__image img {
    min-height: 207px
}

.hot-destination .destination-item__image img {
    min-height: 168px
}

.popular-tour__activities__item .popular-tour__activities__item--image, .tour-detail .section-11 .products .product .product-image {
    padding-top: 75%
}

.pos-relative {
    position: relative
}

    .pos-relative img {
        max-width: 100%;
        height: 100%
    }

        .pos-relative img.dd-img {
            width: 100%;
            height: 320px;
            object-fit: cover
        }

        .pos-relative img.qg-img, .pos-relative img.qg-img {
            width: 100%;
            height: 154px
        }

        .pos-relative img.one-img {
            width: 100%;
            height: 338px;
            object-fit: cover
        }

.frame-nation, .frame-destination {
    background: linear-gradient(to bottom,rgba(0,0,0,.01),rgba(0,0,0,.8) );
    position: absolute;
    bottom: 0;
    padding: 20px 10px 10px;
    width: 100%;
    color: #fff;
    z-index: 999
}

    .frame-nation .nation-name, .frame-destination .destination-name {
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 11px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        text-align: center
    }

.mg-bot30 {
    margin-bottom: 30px
}

.reChoosePayment label {
    width: 100%;
    vertical-align: middle;
    padding: 3px 0
}

.reChoosePayment .lb_r {
    width: 90%;
    padding-left: 2%
}

.modal-header .btn-close {
    padding-top: 1px !important
}

.pager_simple_orange {
    padding: 15px 0;
    clear: both;
    width: 100%;
    overflow: hidden;
    font-size: 16px
}

    .pager_simple_orange table {
        margin: auto
    }

        .pager_simple_orange table td {
            padding: 10px 20px;
            border: 1px solid #eee;
            background-color: #fff
        }

            .pager_simple_orange table td.active {
                font-weight: 800;
                background-color: #4d4aef
            }

                .pager_simple_orange table td.active a {
                    color: #fff
                }

                    .pager_simple_orange table td.active a:hover {
                        color: #000
                    }

.input-noborder {
    border: none;
    font-size: 13px;
    font-weight: 900 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    cursor: pointer;
    width: 100% !important;
    color: #2d4271;
    background: 0 0 !important
}

.tour-combo-item {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0
}

    .tour-combo-item .frame-day-scroll {
        background: #2d4271;
        color: #fff;
        padding: 5px;
        font-size: 8pt;
        border-radius: 5px
    }

combo__flight--best-price {
    color: #ff425b;
    font-weight: 500
}

.f-left {
    float: left
}

.combo-detail .combo__flight--best-price {
    color: #f59233;
    font-size: 18px;
    float: right;
    font-weight: 700;
    margin-top: -3px
}

.text-dltn {
    font-size: 15px;
    font-weight: 700;
    color: #2d4271;
    line-height: 32px;
    margin-bottom: 12px
}

.compare-tour .compare .compare-products .product .product-content .list-info li {
    min-height: 82px
}

.list-info li .compare-description {
    height: 150px;
    max-height: 150px;
    overflow: auto
}

.list-info li .compare-service, .list-info li .compare-whychosse, .list-info li .compare-destination {
    height: 80px;
    max-height: 80px;
    overflow: auto
}

.list-info li .invit {
    height: 200px;
    max-height: 200px;
    overflow: auto
}

.header .right .form-search form input[type=text] {
    width: 90%
}

.testimonial-item__content h6, .testimonial-item__content .h6 {
    min-height: 63px
}

.searchbox__nav-tabs {
    width: 100%
}

.destination-item__image {
    height: auto !important
}

.tour-detail .section-11 .products .product .product-image img {
    width: 100%
}

.search-mobile .wrapper .body .search-tour-content .sub-tab .nav-link {
    padding: 8px
}

.bottom-fixed .top-bar-hotel {
    background-color: rgba(45,66,113,.9);
    display: block;
    position: absolute;
    top: 0;
    left: -24px;
    right: -24px;
    height: 24px;
    text-align: center;
    z-index: 101
}

    .bottom-fixed .top-bar-hotel i {
        color: #fff
    }

.flight-hotel-detail .section-02 .right .big {
    margin-top: 0
}

.flight-hotel-detail .section-04 .left .block-vmb .image .wrapper img {
    height: auto !important
}

img.flight-logo {
    max-width: 100%;
    max-height: 22px
}

.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner .from h4, .tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner .from .h4 {
    max-width: 28%;
    font-size: 13px;
    text-align: center
}

.group-checkout .detail table {
    width: 100%
}

.tour-search-result__filter__room .btn a {
    color: #2d4271
}

    .tour-search-result__filter__room .btn a:hover {
        color: #fff
    }

footer .f-socials-box {
    background: linear-gradient( 38.63deg,#fd5056 27.35%,#fe2214 71.81%);
    border-radius: 10px 0 0 10px;
    width: 60px;
    padding: 10px 0;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style-type: none
}

footer .f-social-small {
    color: #fff;
    text-align: center;
    cursor: pointer;
    height: 20px !important
}

footer .f-socials-full {
    display: none
}

.branch .wrapper {
    max-height: 530px;
    overflow: auto
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eee;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px
}

    ::-webkit-scrollbar-thumb:hover {
        background: #999
    }

.apItem a {
    color: #fff !important
}

    .apItem a:hover {
        color: #f59233 !important
    }

.item-1, .item-2, .item-3 {
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    width: 50%;
    display: block;
    top: 0
}

.item-1 {
    animation-name: anim-1
}

.item-2 {
    animation-name: anim-2
}

.item-3 {
    animation-name: anim-3
}

@keyframes anim-1 {
    0%,8.3% {
        left: -100%;
        opacity: 0
    }

    8.3%,25% {
        left: 25%;
        opacity: 1
    }

    33.33%,100% {
        left: 110%;
        opacity: 0
    }
}

@keyframes anim-2 {
    0%,33.33% {
        left: -100%;
        opacity: 0
    }

    41.63%,58.29% {
        left: 25%;
        opacity: 1
    }

    66.66%,100% {
        left: 110%;
        opacity: 0
    }
}

@keyframes anim-3 {
    0%,66.66% {
        left: -100%;
        opacity: 0
    }

    74.96%,91.62% {
        left: 25%;
        opacity: 1
    }

    100% {
        left: 110%;
        opacity: 0
    }
}

@media(max-width:1366px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1366px
    }

    .tour-item__price__timer {
        font-weight: 700
    }

    .b24-widget-button-wrapper {
        right: 30px !important;
        bottom: 0 !important
    }
}

.sidebar-filter {
    margin-left: 0
}

.closeSlidebar, .openSlidebar {
    display: none
}

.tour-item__image-inner__bottom__login {
    font-size: 10pt
}

.tour-detail .section-01 .right .group-price .sale-price p {
    margin-bottom: 0
}

@media screen and (max-width:768px) {
    .sidebar-filter {
        margin-left: -101%
    }

    .closeSlidebar, .openSlidebar {
        display: block
    }

    .around-location {
        width: 100% !important
    }

    .tour-detail .section-03 .right {
        margin-top: 30px
    }

    .bottom-fixed .wrapper .short-summary {
        padding: 7px 10px 5px
    }
}

@media screen and (max-width:812px) {
    .testimonial-item__top--left .image {
        top: -60%
    }

    .find-booking .right .group-checkout {
        margin-bottom: 20px
    }

    .tour-detail .tour-des {
        max-height: 100%;
        overflow: auto;
        padding-right: 0
    }

    .ui-widget.ui-widget-content {
        z-index: 9999 !important
    }

    .header .left .dropdown-menu {
        border: 0
    }

    footer .block.contact-block p {
        white-space: nowrap
    }

    .footer .copy-right {
        padding-left: 10px;
        padding-right: 10px
    }

    footer .f-socials, .breadcrumbs__wrapper, .checkout-head {
        display: none !important
    }

    .compare-tour .compare .compare-products .product .product-content .product-title {
        max-height: 66px;
        overflow: hidden;
        height: 66px
    }

    .tour-detail .section-02 .right .big .image, .tour-detail .section-02 .right .small .col-6 .image, .flight-hotel-detail .section-02 .right .big .image, .flight-hotel-detail .section-02 .right .small .col-6 .image, .flight-hotel-choose-room .section-02 .right .big .image, .flight-hotel-choose-room .section-02 .right .small .image {
        height: auto;
        padding-top: 0;
        padding-right: 10px
    }

    .tour-detail .section-02 .left, .flight-hotel-detail .section-02 .left, .flight-hotel-choose-room .section-02 .left {
        width: 100%;
        padding-right: 10px;
        margin-bottom: 10px
    }

    .tour-detail .section-01 .right .group-price .sale-price .sale {
        margin-right: 0
    }

    .tour-detail .section-02 .left .image {
        height: 100%
    }

    .tour-detail .section-01 .right .group-price .sale-price {
        display: block
    }

    .flight-hotel-choose-room .section-05 .hotels .hotel .image-content, .flight-hotel-choose-room .section-05 .hotels .hotel .offer, .flight-hotel-choose-room .section-05 .hotels .hotel .image-content .images {
        width: 100%;
        display: block
    }

    .footer .copy-right {
        margin-bottom: 80px
    }

    .flight-hotel-detail .section-01 .right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

        .flight-hotel-detail .section-01 .right .group-add-cart {
            padding-left: 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-top: 25px;
            width: 100%
        }

            .flight-hotel-detail .section-01 .right .group-add-cart button {
                width: 60%
            }

            .flight-hotel-detail .section-01 .right .group-add-cart .add-to-cart {
                width: 38%
            }

    .combo-button-group .open-calendar-link {
        width: 60%
    }

    .combo-button-group .add-to-cart {
        width: 38%
    }

    .flight-hotel-detail .section-05 .hotels .hotel {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff
    }

        .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail {
            display: block
        }

            .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .image-content .images {
                width: 30%;
                float: left;
                display: block
            }

            .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .image-content .content {
                width: 70%;
                float: right;
                margin-top: 0;
                padding-left: 20px
            }

            .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .image-content, .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .offer {
                clear: both;
                display: block;
                width: 100%
            }

    .hotel-service .restaurants .restaurant {
        padding: 10px 25px
    }

    .order-success {
        padding: 0 5px
    }

    .news__new-thread__small .card-body, .news__new-thread__small .card-body {
        padding: 0 20px
    }

    .news__list__item .card-body {
        padding: 1rem
    }

    footer .block.two-line {
        display: block
    }

    footer .block h4, footer .block .h4 {
        font-size: 13px
    }

    .testimonial-item .card-body {
        min-height: 175px
    }

    .tour-item .tour-item__image {
        padding-top: 71.14285714%
    }

    .destination-item__mobile__item h6, .destination-item__mobile__item .h6 {
        font-weight: 700;
        color: #2d4271
    }

    .flight-hotel-detail .section-04 .right .detail-tour .detail-tour-inner .cb p {
        font-size: 16px;
        height: 32px
    }
}

@media screen and (max-width:480px) {
    .tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner {
        clear: both;
        width: 100%;
        margin-bottom: 20px
    }

    .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .image-content .images {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 20px;
        max-width: 100%
    }

    .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .image-content .content {
        width: 100%;
        float: none;
        margin-top: 0;
        padding-left: 0
    }

    .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .offer .option-01.option-01 {
        padding: 25px 10px
    }

    .flight-hotel-detail .section-05 .hotels .hotel .hotel-detail .offer .option-01 .order {
        width: 55%
    }

    .product-item .pull-left {
        margin-left: 10px
    }

    .input-search .select2-selection__rendered {
        max-width: 200px
    }

    .product-item__detail__price .product-item__summary__btn-login {
        float: right
    }

    .tour-item__title {
        display: block;
        min-height: auto;
        max-height: none
    }

    .flight-hotel-detail .section-08 .products .product .product-content {
        padding: 12px 0
    }

        .flight-hotel-detail .section-08 .products .product .product-content .product-title {
            min-height: 45px;
            overflow: hidden
        }

        .flight-hotel-detail .section-08 .products .product .product-content .group-price {
            text-align: left
        }

            .flight-hotel-detail .section-08 .products .product .product-content .group-price .sale-price, .flight-hotel-detail .section-08 .products .product .product-content .group-price .sale-price {
                display: block
            }
}

@media screen and (max-width:320px) {
    .input-search .select2-selection__rendered {
        max-width: 150px
    }
}

.overflowText {
    height: 320px;
    overflow-y: scroll
}

@media(min-width:768px) {
    .shopee-cont {
        width: 750px;
        margin: auto
    }
}

.shopee-cont {
    background: #fff;
    border: .5px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px
}

    .shopee-cont .left {
        text-align: center;
        border-right: .5px solid #d5d5d5
    }

        .shopee-cont .left .scan-qr-code {
            margin: auto
        }

            .shopee-cont .left .scan-qr-code .cont {
                display: inline-flex
            }

        .shopee-cont .left .info-qr-code span {
            color: #ee4d2c;
            font-weight: 700
        }

        .shopee-cont .left .logo-shopee {
            height: 35px;
            border-radius: 5px;
            margin: 2px
        }

    .shopee-cont .right .receipt {
        margin-top: 65px
    }

        .shopee-cont .right .receipt span {
            font-weight: 700;
            padding-left: 25px
        }

    .shopee-cont .right .or {
        height: 1px;
        background-color: #d5d5d5;
        margin: 30px 0;
        text-align: center
    }

        .shopee-cont .right .or span {
            background-color: #fff;
            display: inline-block;
            position: relative;
            top: -11px;
            padding: 0 10px
        }

    .shopee-cont .right .btn-default {
        color: #50565b;
        background-color: #e1e7eb !important;
        border-color: #e1e7eb !important;
        text-transform: uppercase
    }

.booking-text {
}

#booking-code {
    display: none;
    position: relative
}

    #booking-code .code {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-size: 75px;
        font-weight: 700;
        z-index: 999;
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s
    }

        #booking-code .code input {
            text-align: center;
            border: none;
            background: 0 0;
            color: #fff;
            max-width: 500px;
            margin: auto
        }

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.searchbox-flight__nav .nav-link {
    color: #2d4271
}

.searchbox-flight__nav .active {
    border-color: #fff #fff #4d4aef !important;
    border-bottom: 2px solid #4d4aef;
    border-radius: 0;
    color: #4d4aef !important;
    background-color: #fff !important;
    font-weight: 700
}

.pm-head-icon .icon-MSB .path1:before, .pm-head-icon .icon-MSB .path2:before, .pm-head-icon .icon-MSB .path3:before, .pm-head-icon .icon-MSB .path4:before {
    color: #2d4271
}

.tour-item__deal {
    background-color: #fdc432 !important
}
