.header .navbar {
    padding: 0
}

    .header .navbar .logo {
        line-height: 60px;
        max-width: 150px
    }

        .header .navbar .logo img {
            width: 100%
        }

.header .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .header .left .nav-item {
        margin: 0 8px
    }

    .header .left .nav-link {
        font-weight: 700
    }

    .header .left .dropdown-menu {
        color: #2d4271
    }

    .header .left .suggestion .item, .header .left .promotion .item {
        position: relative
    }

        .header .left .suggestion .item .image img, .header .left .promotion .item .image img {
            width: 100%
        }

        .header .left .suggestion .item span, .header .left .promotion .item span {
            position: absolute;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%)
        }

    .header .left li {
        padding: .5rem 0
    }

        .header .left li a {
            font-size: 13px;
            color: #2d4271
        }

.header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .header .right .form-search {
        margin-right: 7px;
        margin-left: 60px
    }

        .header .right .form-search form {
            border: 2px solid #ffc709;
            border-radius: 5px;
            height: 50px;
            position: relative;
            overflow: hidden
        }

            .header .right .form-search form input[type=text] {
                height: 100%;
                width: 100%;
                padding: 0 25px;
                color: #2d4271;
                font-weight: 400;
                border: none
            }

                .header .right .form-search form input[type=text]::-webkit-input-placeholder {
                    color: #2d4271
                }

                .header .right .form-search form input[type=text]::-moz-placeholder {
                    color: #2d4271
                }

                .header .right .form-search form input[type=text]:-ms-input-placeholder {
                    color: #2d4271
                }

                .header .right .form-search form input[type=text]::-ms-input-placeholder {
                    color: #2d4271
                }

                .header .right .form-search form input[type=text]::placeholder {
                    color: #2d4271
                }

            .header .right .form-search form input[type=submit] {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                height: 100%;
                width: 60px;
                border: none;
                background: 0 0
            }

            .header .right .form-search form i {
                position: absolute;
                top: 50%;
                right: 13px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 1;
                pointer-events: none;
                font-size: 18px;
                color: #2d4271
            }

    .header .right .group-features {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 0
    }

        .header .right .group-features .item {
            padding: 0 11px;
            cursor: pointer
        }

            .header .right .group-features .item i {
                font-size: 22px;
                color: #2d4271
            }

        .header .right .group-features .notify-drop {
            min-width: 330px;
            max-width: 330px;
            background-color: #fff;
            min-height: 360px;
            max-height: 360px;
            right: 0;
            left: auto
        }

            .header .right .group-features .notify-drop .notify-drop-title {
                border-bottom: 1px solid #e2e2e2;
                padding: 5px 15px 10px
            }

            .header .right .group-features .notify-drop .notify-drop-content {
                min-height: 300px;
                max-height: 300px;
                overflow-y: scroll
            }

                .header .right .group-features .notify-drop .notify-drop-content .dropdown-item {
                    white-space: normal
                }

        .header .right .group-features .signup {
            background-color: transparent;
            margin-right: 11px
        }

            .header .right .group-features .signup:hover {
                font-weight: 700
            }

        .header .right .group-features .login {
            background-color: #2d4271;
            color: #fff
        }

            .header .right .group-features .login:hover {
                opacity: .9
            }

.header .menu-tab-items li {
    cursor: pointer;
    font-weight: 700
}

    .header .menu-tab-items li.active {
        color: #fd5056;
        font-weight: 700
    }

.header .menu-tab-panels > * {
    display: none
}

    .header .menu-tab-panels > *.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

.sale-notice {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffc709;
    font-weight: 700;
    position: relative
}

    .sale-notice i {
        position: absolute;
        top: 50%;
        right: 10px;
        padding: 10px;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        font-size: 16px;
        -webkit-transition: all 350ms;
        transition: all 350ms
    }

        .sale-notice i:hover {
            -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg)
        }
@media screen and (max-width:991px) {
    body {
        background: #f9f9f9
    }

    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 100vh
    }

    .toggle-back {
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 5px;
        background: #ecf2fe;
        color: #2d4271;
        font-size: 20px;
        position: absolute;
        top: 50px;
        left: 20px;
        z-index: 1
    }

    .page-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #2d4271
    }

    .header-mobile .wrapper {
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 60px 0 20px
    }

        .header-mobile .wrapper .badge-dot {
            width: 10px;
            height: 10px;
            background: red;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            right: 12px;
            border: 1px solid #ecf2fe
        }

        .header-mobile .wrapper .input-search-wrap {
            height: 40px;
            position: relative
        }

            .header-mobile .wrapper .input-search-wrap i {
                position: absolute;
                top: 13px;
                left: 13px
            }

            .header-mobile .wrapper .input-search-wrap input {
                height: 100%;
                background: #f9f9f9;
                border-radius: 100px;
                padding: 0 2rem;
                border: none
            }

        .header-mobile .wrapper .toggle-back {
            width: 40px;
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-radius: 5px;
            background: #ecf2fe;
            color: #2d4271;
            font-size: 20px;
            position: absolute;
            left: 16px;
            top: unset;
            z-index: 1
        }

        .header-mobile .wrapper .notification {
            width: 40px;
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-radius: 5px;
            background: #ecf2fe;
            color: #2d4271;
            font-size: 20px;
            position: absolute;
            right: 16px;
            z-index: 1
        }

    .header__placeholder {
        width: 100%;
        height: 68px
    }

    .header .left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

        .header .left .navbar-nav .nav-link {
            color: #2d4271
        }

        .header .left .navbar-nav .megamenu {
            border: none;
            padding-left: 2rem;
            padding-top: 1rem
        }

    .header .navbar {
        background-color: #fff;
        position: fixed;
        -webkit-box-shadow: 0 0 0 1px #e0e0e0;
        box-shadow: 0 0 0 1px #e0e0e0
    }

        .header .navbar .group-features {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-right: 0
        }

            .header .navbar .group-features .item {
                padding: 0 11px;
                cursor: pointer
            }

                .header .navbar .group-features .item i {
                    font-size: 20px;
                    color: #2d4271
                }

        .header .navbar .navbar-toggler i {
            color: #2d4271;
            font-size: 22px
        }

    .header .logo {
        width: 130px;
        height: auto
    }

        .header .logo img {
            width: 100%
        }

    .header .offcanvas-collapse {
        top: 54px;
        background-color: #fff
    }
}

.explore-tour__item {
    border-radius: 10px;
    cursor: pointer;
    padding-right: 20px;
    width:270px !important;
    float:left;
    margin-right:15px;
    
}

.explore-tour__item__image {
    padding-top: 150%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.text-white {
    color: #fff !important;
}

.text-white {
    color: #fff !important;
}
.explore-tour__item__image img {
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 200ms ease,-webkit-transform 200ms ease;
}
.explore-tour__item__image .card-img-overlay {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(45,66,113,0)),to(#2d4271));
    background: linear-gradient(180deg,rgba(45,66,113,0) 0%,#2d4271 100%);
    top: unset;
}

.px-3 {
   padding:10px;
}
.card-title {
    font-size: 2.25rem;
}
.bottom-0 {
    bottom: 0 !important;
}

.position-absolute {
    position: absolute !important;
}
.card-title {
    margin-bottom: 0.5rem;
}
.explore-tour__item__image .card-img-overlay a {
    color: #fff;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.product-item {
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 10px;
    border-color: 1px solid #dddfe2;
}
.g-0, .gy-0 {
    --bs-gutter-y: 0;
}
.product-item__image {
    position: relative;
    overflow: hidden;
}
.g-0, .gx-0 {
    --bs-gutter-x: 0;
}
.product-item__image img {
   
    height: 100%;
    width: 100%;
}

.text-end {
    text-align: right !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}
.product-item__summary {
    padding-top: 85px;
    text-align: right;
    padding-right: 30px !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.fw-bold {
    font-size:16px !important;
}
.product-item__detail__review--point span:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid #fdc432;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.product-item__detail__category {
    background-color: #2d4271;
    border-radius: 5px;
    width:180px;
    height:40px;
    padding:10px;
}
    .product-item__detail__category a {
        color: #fff;
        text-decoration: none;
    }
.product-item__detail__title {
    font-size: 16px;
    color: #2d4271;
    font-weight: 700;
}
.card-title {
    margin-bottom: 0.5rem;
}
.product-item__detail__title a {
    text-decoration: none;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.d-inline-block {
    display: inline-block !important;
}
.star-rating i {
    color: #fdc432;
}
.mt-3 {
    margin-top: 1rem !important;
}
.text-muted {
    color: #6c757d !important;
}
small, .small {
    font-size: .875em;
}
.product-item__detail__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-item__detail__review--point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
    .product-item__detail__review--point span {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: #fff;
        background: #fdc432;
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right: 11px;
    }
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.fw-bold {
    font-weight: 700 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}
.product-item__detail__location {
    color: #4d4aef;
    font-size: 12px;
}

    .product-item__summary::before {
        content: "";
        position: absolute;
        left: 0;
        height: calc(100% - 30px);
        top: 15px;
        width: 0.5px;
        background-color: #d8d8d8;
    }

.product-item .btn-promotion {
    background: 0 0;
    color: #4d4aef;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-item__summary__btn-login {
    border: 1px solid #4d4aef !important;
    color: #4d4aef;
    font-size: 12px;
}
.product-item__image {
    position: relative;
    overflow: hidden;
}
.product-item {
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 10px;
    border-color: 1px solid #dddfe2;
}
.product-item__summary .price-min {
    font-weight: 700;
    color: #2d4271;
}
.product-item__summary__price--current__number {
    font-size: 20px;
    font-weight: 700;
}

.product-item__summary__price--current {
    color: #fd5056;
}
.product-item__summary__price--old {
    color: #2d4271;
    text-decoration: line-through;
    font-weight: 700;
}
.home-page__title {
    font-weight: 700;
    font-size: 30px;
    color: #2d4271;
}
.home-page__destination .destination-item__image img {
    min-height: 207px;
}
.destination-item__image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.destination-item__title {
    font-size: 17px;
    font-weight: 700;
}
.card-title {
    margin-bottom: 0.5rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
.destination-item__description {
    font-size: 13px;
}
.why-item {
    text-align: center;
    margin-bottom: 2rem;
    height: 230px;
}
.why-item__title {
    font-weight: 700;
    font-size: 17px;
    color: #2d4271;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
footer {
    font-size: 13px;
    background: #f9f9f9;
    padding-top: 45px;
}

    footer .block h4, footer .block .h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        width: 100%;
    }

a {
    text-decoration: none;
    color: #2d4271;
}

footer .block.two-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    footer .block.two-line .menu {
        width: 40%;
    }

footer .block .menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    footer .block .menu li {
        line-height: 30px;
    }

footer .block.two-line .menu a {
    color: #2d4271;
    text-decoration: none;
}

footer .block {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

footer .block .ft-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

footer .block .mb-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer .block.contact-block {
    font-weight: 300;
    line-height: 30px;
    
}

footer .block .socials {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    footer .block .socials li {
        padding-right: 20px;
    }

footer .block .call-action {
    padding-top: 10px;
}

    footer .block .call-action a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 176px;
        height: 50px;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        background: linear-gradient(92.44deg,#fd5056 1.58%,#fe2214 105.9%);
        border-radius: 10px;
        color: #fff;
        text-decoration: none;
    }

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
footer .block .menu li a {
    color: #2d4271;
    text-decoration: none;
}
footer .block form {
    background: #fff;
    border: 1px solid #7d8fab;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: -5px;
    max-width: 323px;
}

    footer .block form input[type=text] {
        height: 100%;
        width: 100%;
        padding: 0 25px;
        color: #2d4271;
        font-weight: 400;
        border: none;
    }

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

footer .block form i {
    position: absolute;
    top: 50%;
    right: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
    font-size: 18px;
    color: #2d4271;
}

footer .block .securi-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    footer .block .securi-payment .securi {
        max-width: 178px;
    }
footer .block form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 50px;
    border: none;
    background: 0 0;
    border-left: 1px solid #7d8fab;
}
    footer .block .securi-payment .payment {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 43px;
        max-width: 260px;
    }
footer .copy-right {
    padding: 1rem 0;
    border-top: 1px solid #7d8fab;
}
footer .block .securi-payment .payment img {
    width: 33%;
    padding: 5px 15px;
}
footer .block .socials li i {
    font-size: 25px;
    color: #2d4271;
}
.nav-seach {
    width: 100%;
   
}
.nav-tabs > li > hover.active {
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 0px 0px 0 0;
    border: none;
    margin-bottom: -1px;
    height: 100px;
    background-color: white;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white !important;
    color: #4d4aef;
    
}
.nav-tabs > li {
    width: 16.66%;
}
    .nav-tabs > li > a {
        margin-right: 0px !important;
        height: 100px;
        color: white;
        border-radius: 0px 0px 0 0 !important;
        background-color: rgba(45,66,113,.8);
    }
    .card-body
    {
        margin-top:50px;
    }
.promotion-image
{
    padding-right:20px;
}